{% extends 'base.html' %}
{% block content %}
<h5>
    <p>
        This is a Face recognition Internship project my friend and I developed.
        <br>
        Inspired by Microsoft Face API,
        <br>
        we built a basic version of it.
        <br>
        It detects the face present in the Image file uploaded from the Images in the dataset.
    </p>
</h5>
<br>
<br>
<br>
<footer class="footer">
    <h6>
       <h4>Contact:</h4>
        lathah067@gmail.com
        <br>
        aashvik111@gmail.com
    </h6>
</footer>
{% endblock %}